body {
      background-color: black;
      color: white;
      width: 100%;
     }

a {
    color: white;
  }

body img {
            display: block;
            margin: 0 auto;
           }

.archiv img {
            width: 470px;

            }

